{% extends "app/base.html" %}

{% load staticfiles %}
	
{% block body_block %}

		{% if source %}
		<table>
		<tr>
		<td>
			<div id="gameTimer">test</div>
		</td>
		<td>
			<iframe width="560" height="315"
			src= {{ source }}
			frameborder="0"></iframe>
		</td>
		<td></td>
		<td>
			<div id="time"></div>
		</td>
		</tr>
		</table>
			<br>
		{% endif %}
		
		<br>
		{% for video in videos %}
			<form method = 'post' action = {% url 'play' %}>
				{% csrf_token %}
				<button class="btn btn-primary" method = 'post' type="submit" name="submit" id="{{video.videoid}}" value="{{video.name}}">
					{{video.name}}</button>				
			<br>
			<br>
		{% endfor %}

		<strong>{{ answers }}</strong>
		<br>
		<br>
			

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>	
$(window).ready( function() {
    var time = 5
	var gameTime = {{ timeleft }}
	
	$('#time').html(time);
	$('#gameTimer').html(gameTime);
    setInterval( function() {
        time--;
		gameTime--
        $('#time').html(time);
		$('#gameTimer').html(gameTime);
        if (time === 0) {
            window.location.href= '/vidpop/play';
        } 
		if (gameTime <= 0) {
			window.location.href= '/vidpop/play';
		}
    }, 1000 );
});
</script>
{% endblock %}

		
