{% extends 'app/base.html' %}
{% load staticfiles %}

{% block title %}Leaderboard{% endblock %}
    
{% block body_block %}

<style>
.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:1px;
	-webkit-border-bottom-left-radius:1px;
	border-bottom-left-radius:1px;
	
	-moz-border-radius-bottomright:1px;
	-webkit-border-bottom-right-radius:1px;
	border-bottom-right-radius:1px;
	
	-moz-border-radius-topright:1px;
	-webkit-border-top-right-radius:1px;
	border-top-right-radius:1px;
	
	-moz-border-radius-topleft:1px;
	-webkit-border-top-left-radius:1px;
	border-top-left-radius:1px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:1px;
	-webkit-border-bottom-right-radius:1px;
	border-bottom-right-radius:1px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:1px;
	-webkit-border-top-left-radius:1px;
	border-top-left-radius:1px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:1px;
	-webkit-border-top-right-radius:1px;
	border-top-right-radius:1px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:1px;
	-webkit-border-bottom-left-radius:1px;
	border-bottom-left-radius:1px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#9d9d9d; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#F8F8F8; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:10px;
	font-size:15px;
	font-family:Georgia;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #222222 5%, #f8f8f8 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #222222), color-stop(1, #f8f8f8) );
	background:-moz-linear-gradient( center top, #222222 5%, #f8f8f8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#222222", endColorstr="#f8f8f8");	background: -o-linear-gradient(top,#222222,f8f8f8);

	background-color:#222222;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:20px;
	font-family:Georgia;
	font-weight:bold;
	color:#000000;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #222222 5%, #f8f8f8 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #222222), color-stop(1, #f8f8f8) );
	background:-moz-linear-gradient( center top, #222222 5%, #f8f8f8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#222222", endColorstr="#f8f8f8");	background: -o-linear-gradient(top,#222222,f8f8f8);

	background-color:#222222;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

table{
    counter-reset: rowNumber;
}

#rank{
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
	}

.container {
    margin-left: 5%;
    margin-right: 25%;
    width: 70%;
}

</style>

<div class="container">
	<div class="row" style="height: 25px">
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">
					<table class="CSSTableGenerator">
						<th style="text-align: center">Highscores</th>
					</table>
					<br>
				</div>
			</div>
			<table class="CSSTableGenerator">	
				<th style="text-align: center">Position</th>
				<th style="text-align: center">Name</th>
				<th style="text-align: center">Points</th>
				{% for score in scores %}
					<tr id="rank">
					<td></td>
					<td>{{ score.user }}</td>
					<td>{{ score.score }}</td>
					</tr>
				{% endfor %}
				
			</table>
			
		</div>
	</div>
</div> 	


{% endblock %}